#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c > #backgroundBox {
  position: absolute;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c > #alignmentBox {
  position: relative;
  max-width: 430.0px;
  max-height: 932.0px;
  width: 100%;
  height: 100%;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Path_7 {
  position: absolute;
  width: 385.81353759765625px;
  height: 2.0px;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Content_grid_1 {
  position: absolute;
  width: 389.64768718055126px;
  height: 250.66666666666666px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Content_grid_1 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Cell_9 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Cell_9 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Cell_9 .verticalalign {
  vertical-align: middle;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Cell_9 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Cell_9 {
  width: 100.00000000000007%;
  height: 24.999999999999996%;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Cell_9 .Cell_9 > * {
  margin-right: 20px;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Cell_9 .Cell_9 > *:last-child {
  margin-right: 0px;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Cell_9 .ghostHLayout:first-child {
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Path_14 {
  width: 20.0px;
  height: 15.0px;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Text_4 {
  width: 315.0px;
  min-height: 17.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat_26.0.0_google',Arial;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Text_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Text_4 .valign {
  vertical-align: top;
  text-align: left;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Text_4 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat_26.0.0_google',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
  line-height: 16px;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Text_4 span#rtr-s-Text_4_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Montserrat_26.0.0_google',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
  line-height: 16px;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Path_9 {
  width: 6.717294692993164px;
  height: 11.0px;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Cell_10 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Cell_10 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Cell_10 .verticalalign {
  vertical-align: middle;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Cell_10 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Cell_10 {
  width: 100.00000000000007%;
  height: 24.999999999999996%;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Cell_10 .Cell_10 > * {
  margin-right: 20px;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Cell_10 .Cell_10 > *:last-child {
  margin-right: 0px;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Cell_10 .ghostHLayout:first-child {
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Path_12 {
  width: 20.0px;
  height: 15.0px;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Text_5 {
  width: 315.0px;
  min-height: 17.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat_26.0.0_google',Arial;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Text_5 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Text_5 .valign {
  vertical-align: top;
  text-align: left;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Text_5 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat_26.0.0_google',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
  line-height: 16px;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Text_5 span#rtr-s-Text_5_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Montserrat_26.0.0_google',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
  line-height: 16px;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Path_11 {
  width: 6.717294692993164px;
  height: 11.0px;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Cell_11 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Cell_11 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Cell_11 .verticalalign {
  vertical-align: middle;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Cell_11 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Cell_11 {
  width: 100.00000000000007%;
  height: 24.999999999999996%;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Cell_11 .Cell_11 > * {
  margin-right: 20px;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Cell_11 .Cell_11 > *:last-child {
  margin-right: 0px;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Cell_11 .ghostHLayout:first-child {
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Path_10 {
  width: 20.0px;
  height: 15.0px;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Text_6 {
  width: 315.0px;
  min-height: 17.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat_26.0.0_google',Arial;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Text_6 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Text_6 .valign {
  vertical-align: top;
  text-align: left;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Text_6 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat_26.0.0_google',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
  line-height: 16px;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Text_6 span#rtr-s-Text_6_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Montserrat_26.0.0_google',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
  line-height: 16px;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Path_13 {
  width: 6.717294692993164px;
  height: 11.0px;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Cell_12 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Cell_12 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Cell_12 .verticalalign {
  vertical-align: middle;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Cell_12 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Cell_12 {
  width: 100.00000000000007%;
  height: 24.999999999999993%;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Cell_12 .Cell_12 > * {
  margin-right: 20px;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Cell_12 .Cell_12 > *:last-child {
  margin-right: 0px;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Cell_12 .ghostHLayout:first-child {
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Path_8 {
  width: 20.0px;
  height: 15.0px;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Text_7 {
  width: 315.0px;
  min-height: 17.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat_26.0.0_google',Arial;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Text_7 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Text_7 .valign {
  vertical-align: top;
  text-align: left;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Text_7 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat_26.0.0_google',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
  line-height: 16px;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Text_7 span#rtr-s-Text_7_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Montserrat_26.0.0_google',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
  line-height: 16px;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Path_15 {
  width: 6.717294692993164px;
  height: 11.0px;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Path_16 {
  position: absolute;
  width: 393.59075927734375px;
  height: 2.0px;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Content_grid_2 {
  position: absolute;
  width: 389.64768718055126px;
  height: 250.66666666666666px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Content_grid_2 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Cell_13 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Cell_13 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Cell_13 .verticalalign {
  vertical-align: middle;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Cell_13 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Cell_13 {
  width: 100.00000000000007%;
  height: 24.999999999999996%;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Cell_13 .Cell_13 > * {
  margin-right: 20px;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Cell_13 .Cell_13 > *:last-child {
  margin-right: 0px;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Cell_13 .ghostHLayout:first-child {
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Path_21 {
  width: 20.0px;
  height: 15.0px;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Text_8 {
  width: 276.0px;
  min-height: 17.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat_26.0.0_google',Arial;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Text_8 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Text_8 .valign {
  vertical-align: top;
  text-align: left;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Text_8 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat_26.0.0_google',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
  line-height: 16px;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Text_8 span#rtr-s-Text_8_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Montserrat_26.0.0_google',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
  line-height: 16px;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Check_1.checked > .backgroundLayer {
  background-image: url('../../../images/332a1c66-de34-428c-918f-023bc446c37b.png');
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Check_1.unchecked > .backgroundLayer {
  background-image: url('../../../images/46002c7a-b380-408b-b74a-57e85951f46e.png');
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Check_1 {
  width: 51.0px;
  height: 31.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Cell_14 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Cell_14 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Cell_14 .verticalalign {
  vertical-align: middle;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Cell_14 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Cell_14 {
  width: 100.00000000000007%;
  height: 24.999999999999996%;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Cell_14 .Cell_14 > * {
  margin-right: 20px;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Cell_14 .Cell_14 > *:last-child {
  margin-right: 0px;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Cell_14 .ghostHLayout:first-child {
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Path_18 {
  width: 20.0px;
  height: 15.0px;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Text_9 {
  width: 276.0px;
  min-height: 17.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat_26.0.0_google',Arial;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Text_9 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Text_9 .valign {
  vertical-align: top;
  text-align: left;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Text_9 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat_26.0.0_google',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
  line-height: 16px;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Text_9 span#rtr-s-Text_9_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Montserrat_26.0.0_google',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
  line-height: 16px;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Check_2.checked > .backgroundLayer {
  background-image: url('../../../images/332a1c66-de34-428c-918f-023bc446c37b.png');
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Check_2.unchecked > .backgroundLayer {
  background-image: url('../../../images/46002c7a-b380-408b-b74a-57e85951f46e.png');
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Check_2 {
  width: 51.0px;
  height: 31.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Cell_15 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Cell_15 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Cell_15 .verticalalign {
  vertical-align: middle;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Cell_15 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Cell_15 {
  width: 100.00000000000007%;
  height: 24.999999999999996%;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Cell_15 .Cell_15 > * {
  margin-right: 20px;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Cell_15 .Cell_15 > *:last-child {
  margin-right: 0px;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Cell_15 .ghostHLayout:first-child {
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Path_19 {
  width: 20.0px;
  height: 15.0px;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Text_10 {
  width: 276.0px;
  min-height: 17.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat_26.0.0_google',Arial;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Text_10 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Text_10 .valign {
  vertical-align: top;
  text-align: left;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Text_10 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat_26.0.0_google',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
  line-height: 16px;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Text_10 span#rtr-s-Text_10_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Montserrat_26.0.0_google',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
  line-height: 16px;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Check_3.checked > .backgroundLayer {
  background-image: url('../../../images/332a1c66-de34-428c-918f-023bc446c37b.png');
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Check_3.unchecked > .backgroundLayer {
  background-image: url('../../../images/46002c7a-b380-408b-b74a-57e85951f46e.png');
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Check_3 {
  width: 51.0px;
  height: 31.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Cell_16 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Cell_16 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Cell_16 .verticalalign {
  vertical-align: middle;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Cell_16 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Cell_16 {
  width: 100.00000000000007%;
  height: 24.999999999999993%;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Cell_16 .Cell_16 > * {
  margin-right: 20px;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Cell_16 .Cell_16 > *:last-child {
  margin-right: 0px;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Cell_16 .ghostHLayout:first-child {
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Path_20 {
  width: 20.0px;
  height: 15.0px;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Text_11 {
  width: 276.0px;
  min-height: 17.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat_26.0.0_google',Arial;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Text_11 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Text_11 .valign {
  vertical-align: top;
  text-align: left;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Text_11 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat_26.0.0_google',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
  line-height: 16px;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Text_11 span#rtr-s-Text_11_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Montserrat_26.0.0_google',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
  line-height: 16px;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Check_4.checked > .backgroundLayer {
  background-image: url('../../../images/332a1c66-de34-428c-918f-023bc446c37b.png');
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Check_4.unchecked > .backgroundLayer {
  background-image: url('../../../images/46002c7a-b380-408b-b74a-57e85951f46e.png');
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Check_4 {
  width: 51.0px;
  height: 31.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #shapewrapper-s-Ellipse_1 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #shapewrapper-s-Ellipse_1 .content {
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #shapewrapper-s-Ellipse_1 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Ellipse_1 {
  width: 70.0px;
  height: 70.0px;
  min-height: 70.0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #shapewrapper-s-Ellipse_1 > .backgroundLayer > .colorLayer {
  background-color: #F1F1F1;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #shapewrapper-s-Ellipse_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #shapewrapper-s-Ellipse_1 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #shapewrapper-s-Ellipse_1 span#rtr-s-Ellipse_1_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Path_196 {
  position: absolute;
  width: 26.0px;
  height: 26.000064849853516px;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Text_2 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat_26.0.0_google',Arial;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Text_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Text_2 .valign {
  vertical-align: top;
  text-align: left;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Text_2 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat_26.0.0_google',Arial;
  font-size: 13.5pt;
  font-weight: 700;
  text-transform: none;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Text_2 span#rtr-s-Text_2_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Montserrat_26.0.0_google',Arial;
  font-size: 13.5pt;
  font-weight: 700;
  text-transform: none;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Text_3 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat_26.0.0_google',Arial;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Text_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Text_3 .valign {
  vertical-align: top;
  text-align: left;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Text_3 span {
  color: #7F7F7F;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat_26.0.0_google',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Text_3 span#rtr-s-Text_3_0 {
  color: #7F7F7F;
  text-decoration: none;
  font-family: 'Montserrat_26.0.0_google',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Path_36 {
  position: absolute;
  width: 26.56591033935547px;
  height: 26.549999237060547px;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Master_item_1 {
  position: absolute;
  width: 428.99999999999955px;
  height: 91.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #mi-b44df1cc-Dynamic_panel_3 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #mi-b44df1cc-Panel_3 {
  width: 428.99999999999955px;
  height: 91.0px;
  filter:  drop-shadow(1.8369701987210297E-16px -1.0px 3px rgba(163,163,163,0.5));
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #mi-b44df1cc-Panel_3 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #mi-b44df1cc-Panel_3 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #mi-b44df1cc-Panel_3 > .borderLayer > .layoutWrapper {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #mi-b44df1cc-Panel_3 .verticalalign {
  vertical-align: top;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #mi-b44df1cc-Path_115 {
  position: absolute;
  width: 18.750303268432617px;
  height: 25.0px;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #mi-b44df1cc-Path_481 {
  position: absolute;
  width: 22.748790740966797px;
  height: 26.0px;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #mi-b44df1cc-Path_63 {
  position: absolute;
  width: 25.028636932373047px;
  height: 26.5px;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #mi-b44df1cc-Path_212 {
  position: absolute;
  width: 27.185056686401367px;
  height: 25.0px;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #mi-b44df1cc-Hotspot_1 {
  position: absolute;
  width: 44.0px;
  height: 46.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #mi-b44df1cc-Hotspot_2 {
  position: absolute;
  width: 44.0px;
  height: 46.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #mi-b44df1cc-Hotspot_3 {
  position: absolute;
  width: 44.0px;
  height: 46.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #mi-b44df1cc-Hotspot_4 {
  position: absolute;
  width: 44.0px;
  height: 46.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Dynamic_panel_1 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Panel_1 {
  width: 429.99999999999864px;
  height: 112.33000000000004px;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Panel_1 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Panel_1 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Panel_1 > .borderLayer > .layoutWrapper {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Panel_1 .verticalalign {
  vertical-align: top;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Path_1 {
  position: absolute;
  width: 24.10955238342285px;
  height: 19.729999542236328px;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Path_2 {
  position: absolute;
  width: 17.141998291015625px;
  height: 12.328323364257812px;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Path_3 {
  position: absolute;
  width: 21.0px;
  height: 9.0px;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Path_4 {
  position: absolute;
  width: 27.3280029296875px;
  height: 13.0px;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Path_5 {
  position: absolute;
  width: 19.20001220703125px;
  height: 12.226398468017578px;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Text_1 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto_0.0.0_system',Arial;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Text_1 > .backgroundLayer {
  border-top-left-radius: 9.0px;
  border-top-right-radius: 9.0px;
  border-bottom-right-radius: 9.0px;
  border-bottom-left-radius: 9.0px;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Text_1 > .borderLayer {
  border-top-left-radius: 9.0px;
  border-top-right-radius: 9.0px;
  border-bottom-right-radius: 9.0px;
  border-bottom-left-radius: 9.0px;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Text_1 > .backgroundLayer {
  border-top-left-radius: 9.0px;
  border-top-right-radius: 9.0px;
  border-bottom-right-radius: 9.0px;
  border-bottom-left-radius: 9.0px;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Text_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Text_1 .valign {
  vertical-align: top;
  text-align: left;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Text_1 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto_0.0.0_system',Arial;
  font-size: 12.0pt;
  font-weight: 500;
  text-transform: none;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Text_1 span#rtr-s-Text_1_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto_0.0.0_system',Arial;
  font-size: 12.0pt;
  font-weight: 500;
  text-transform: none;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Path_6 {
  position: absolute;
  width: 18.74307632446289px;
  height: 18.920000076293945px;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Rectangle_1 {
  position: absolute;
  width: 430.7395506792052px;
  min-height: 932.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Rectangle_1 > .backgroundLayer > .colorLayer {
  background-color: rgba(0,0,0,0.5);
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Rectangle_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Rectangle_1 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Rectangle_2 {
  position: absolute;
  width: 342.7395506792054px;
  min-height: 932.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter:  drop-shadow(10.0px 1.2246467991473533E-15px 5px rgba(37,37,37,0.2));
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Rectangle_2 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Rectangle_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Rectangle_2 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #shapewrapper-s-Ellipse_2 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #shapewrapper-s-Ellipse_2 .content {
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #shapewrapper-s-Ellipse_2 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Ellipse_2 {
  width: 70.0px;
  height: 70.0px;
  min-height: 70.0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #shapewrapper-s-Ellipse_2 > .backgroundLayer > .colorLayer {
  background-color: #F1F1F1;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #shapewrapper-s-Ellipse_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #shapewrapper-s-Ellipse_2 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #shapewrapper-s-Ellipse_2 span#rtr-s-Ellipse_2_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Path_17 {
  position: absolute;
  width: 26.0px;
  height: 26.000064849853516px;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Text_12 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat_26.0.0_google',Arial;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Text_12 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Text_12 .valign {
  vertical-align: top;
  text-align: left;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Text_12 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat_26.0.0_google',Arial;
  font-size: 12.0pt;
  font-weight: 500;
  text-transform: none;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Text_12 span#rtr-s-Text_12_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Montserrat_26.0.0_google',Arial;
  font-size: 12.0pt;
  font-weight: 500;
  text-transform: none;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Text_13 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat_26.0.0_google',Arial;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Text_13 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Text_13 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Text_13 span {
  color: #7F7F7F;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat_26.0.0_google',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Text_13 span#rtr-s-Text_13_0 {
  color: #7F7F7F;
  text-decoration: none;
  font-family: 'Montserrat_26.0.0_google',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Path_22 {
  position: absolute;
  width: 300.59051513671875px;
  height: 2.0px;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Content_grid_3 {
  position: absolute;
  width: 343.7031086729335px;
  height: 731.0476190476143px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Content_grid_3 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Cell_33 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Cell_33 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Cell_33 .verticalalign {
  vertical-align: middle;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Cell_33 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Cell_33 {
  width: 18.95953757225437%;
  height: 8.439156626230847%;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Path_23 {
  width: 20.0px;
  height: 15.0px;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Cell_34 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Cell_34 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Cell_34 .verticalalign {
  vertical-align: middle;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Cell_34 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Cell_34 {
  width: 81.04046242774565%;
  height: 8.439156626230847%;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Text_15 {
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat_26.0.0_google',Arial;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Text_15 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Text_15 .valign {
  vertical-align: top;
  text-align: left;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Text_15 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat_26.0.0_google',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Text_15 span#rtr-s-Text_15_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Montserrat_26.0.0_google',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Cell_35 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Cell_35 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Cell_35 .verticalalign {
  vertical-align: middle;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Cell_35 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Cell_35 {
  width: 18.95953757225437%;
  height: 8.439156626230847%;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Path_24 {
  width: 20.0px;
  height: 15.0px;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Cell_36 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Cell_36 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Cell_36 .verticalalign {
  vertical-align: middle;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Cell_36 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Cell_36 {
  width: 81.04046242774565%;
  height: 8.439156626230847%;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Text_16 {
  width: 73.34400177001953px;
  min-height: 38.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat_26.0.0_google',Arial;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Text_16 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Text_16 .valign {
  vertical-align: top;
  text-align: left;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Text_16 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat_26.0.0_google',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Text_16 span#rtr-s-Text_16_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Montserrat_26.0.0_google',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Cell_37 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Cell_37 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Cell_37 .verticalalign {
  vertical-align: middle;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Cell_37 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Cell_37 {
  width: 18.95953757225437%;
  height: 8.439156626230847%;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Path_25 {
  width: 20.0px;
  height: 15.0px;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Cell_38 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Cell_38 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Cell_38 .verticalalign {
  vertical-align: middle;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Cell_38 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Cell_38 {
  width: 81.04046242774565%;
  height: 8.439156626230847%;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Text_17 {
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat_26.0.0_google',Arial;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Text_17 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Text_17 .valign {
  vertical-align: top;
  text-align: left;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Text_17 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat_26.0.0_google',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Text_17 span#rtr-s-Text_17_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Montserrat_26.0.0_google',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Cell_39 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Cell_39 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Cell_39 .verticalalign {
  vertical-align: middle;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Cell_39 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Cell_39 {
  width: 18.95953757225437%;
  height: 8.439156626230847%;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Path_26 {
  width: 20.0px;
  height: 15.0px;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Cell_40 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Cell_40 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Cell_40 .verticalalign {
  vertical-align: middle;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Cell_40 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Cell_40 {
  width: 81.04046242774565%;
  height: 8.439156626230847%;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Text_18 {
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat_26.0.0_google',Arial;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Text_18 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Text_18 .valign {
  vertical-align: top;
  text-align: left;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Text_18 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat_26.0.0_google',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Text_18 span#rtr-s-Text_18_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Montserrat_26.0.0_google',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Cell_41 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Cell_41 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Cell_41 .verticalalign {
  vertical-align: middle;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Cell_41 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Cell_41 {
  width: 18.95953757225437%;
  height: 8.439156626230847%;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Path_27 {
  width: 20.0px;
  height: 15.0px;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Cell_42 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Cell_42 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Cell_42 .verticalalign {
  vertical-align: middle;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Cell_42 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Cell_42 {
  width: 81.04046242774565%;
  height: 8.439156626230847%;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Text_19 {
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat_26.0.0_google',Arial;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Text_19 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Text_19 .valign {
  vertical-align: top;
  text-align: left;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Text_19 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat_26.0.0_google',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Text_19 span#rtr-s-Text_19_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Montserrat_26.0.0_google',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Cell_43 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Cell_43 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Cell_43 .verticalalign {
  vertical-align: middle;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Cell_43 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Cell_43 {
  width: 18.95953757225437%;
  height: 8.439156626230847%;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Path_28 {
  width: 20.0px;
  height: 15.0px;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Cell_44 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Cell_44 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Cell_44 .verticalalign {
  vertical-align: middle;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Cell_44 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Cell_44 {
  width: 81.04046242774565%;
  height: 8.439156626230847%;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Text_20 {
  width: 60.287994384765625px;
  min-height: 19.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat_26.0.0_google',Arial;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Text_20 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Text_20 .valign {
  vertical-align: top;
  text-align: left;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Text_20 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat_26.0.0_google',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Text_20 span#rtr-s-Text_20_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Montserrat_26.0.0_google',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Cell_45 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Cell_45 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Cell_45 .verticalalign {
  vertical-align: middle;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Cell_45 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Cell_45 {
  width: 18.95953757225437%;
  height: 40.925903616384055%;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Cell_46 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Cell_46 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Cell_46 .verticalalign {
  vertical-align: middle;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Cell_46 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Cell_46 {
  width: 81.04046242774565%;
  height: 40.925903616384055%;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Cell_47 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Cell_47 td.layout {
  padding: 0px 0px 0px 23px;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Cell_47 .verticalalign {
  vertical-align: middle;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Cell_47 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Cell_47 {
  width: 100.00000000000003%;
  height: 8.439156626230847%;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Text_14 {
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat_26.0.0_google',Arial;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Text_14 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Text_14 .valign {
  vertical-align: top;
  text-align: left;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Text_14 span {
  color: #000000;
  text-align: left;
  text-decoration: underline;
  font-family: 'Montserrat_26.0.0_google',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c #s-Text_14 span#rtr-s-Text_14_0 {
  color: #000000;
  text-decoration: underline;
  font-family: 'Montserrat_26.0.0_google',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-aa2e4e7f-834c-40ac-b871-6408ef30dd0c > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}