#m-0de8e369-c354-4e80-8729-29d3e1749512.master {
  transform: translate(0px,0px);
}
#m-0de8e369-c354-4e80-8729-29d3e1749512 #Dynamic_panel_2 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#m-0de8e369-c354-4e80-8729-29d3e1749512 #Panel_2 {
  width: 429.99999999999864px;
  height: 49.3333333333332px;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#m-0de8e369-c354-4e80-8729-29d3e1749512 #Panel_2 td.layout {
  padding: 0px 0px 0px 0px;
}
#m-0de8e369-c354-4e80-8729-29d3e1749512 #Panel_2 > .borderLayer > .layoutWrapper {
  overflow-x: auto;
  overflow-y: hidden;
}
#m-0de8e369-c354-4e80-8729-29d3e1749512 #Panel_2 .verticalalign {
  vertical-align: top;
}
#m-0de8e369-c354-4e80-8729-29d3e1749512 #Table_1 {
  position: absolute;
  width: 723.1449985504142px;
  height: 48.333333333333314px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#m-0de8e369-c354-4e80-8729-29d3e1749512 #Table_1 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#m-0de8e369-c354-4e80-8729-29d3e1749512 #Text_cell_6 .clipping {
  padding-left: 0.0px;
  padding-top: 0.0px;
  padding-bottom: 3.0px;
  padding-right: 0.0px;
  overflow-x: hidden;
  overflow-y: hidden;
}
#m-0de8e369-c354-4e80-8729-29d3e1749512 #Text_cell_6 {
  width: 20.0%;
  height: 100.0%;
  cursor: pointer;
  font-size: 0pt;
  font-family: 'Montserrat_26.0.0_google',Arial;
}
#m-0de8e369-c354-4e80-8729-29d3e1749512 #Text_cell_6 > .cellContainerChild > .borderLayer {
  border-bottom-width: 3.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
}
#m-0de8e369-c354-4e80-8729-29d3e1749512 #Text_cell_6 .content {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#m-0de8e369-c354-4e80-8729-29d3e1749512 #Text_cell_6 .valign {
  vertical-align: middle;
  text-align: center;
}
#m-0de8e369-c354-4e80-8729-29d3e1749512 #Text_cell_6 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Montserrat_26.0.0_google',Arial;
  font-size: 9.75pt;
  font-weight: 600;
  letter-spacing: 2.0px;
  text-transform: none;
}
#m-0de8e369-c354-4e80-8729-29d3e1749512 #Text_cell_6 span#rtr-Text_cell_6_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Montserrat_26.0.0_google',Arial;
  font-size: 9.75pt;
  font-weight: 600;
  letter-spacing: 2.0px;
  text-transform: none;
}
#m-0de8e369-c354-4e80-8729-29d3e1749512 #Text_cell_7 .clipping {
  padding-left: 0.0px;
  padding-top: 0.0px;
  padding-bottom: 0.0px;
  padding-right: 0.0px;
  overflow-x: hidden;
  overflow-y: hidden;
}
#m-0de8e369-c354-4e80-8729-29d3e1749512 #Text_cell_7 {
  width: 20.0%;
  height: 100.0%;
  cursor: pointer;
  font-size: 0pt;
  font-family: 'Montserrat_26.0.0_google',Arial;
}
#m-0de8e369-c354-4e80-8729-29d3e1749512 #Text_cell_7 > .cellContainerChild > .borderLayer {
  border-top-width: 0.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 0.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 0.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 0.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#m-0de8e369-c354-4e80-8729-29d3e1749512 #Text_cell_7 .content {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#m-0de8e369-c354-4e80-8729-29d3e1749512 #Text_cell_7 .valign {
  vertical-align: middle;
  text-align: center;
}
#m-0de8e369-c354-4e80-8729-29d3e1749512 #Text_cell_7 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Montserrat_26.0.0_google',Arial;
  font-size: 9.75pt;
  font-weight: 600;
  letter-spacing: 2.0px;
  text-transform: none;
}
#m-0de8e369-c354-4e80-8729-29d3e1749512 #Text_cell_7 span#rtr-Text_cell_7_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Montserrat_26.0.0_google',Arial;
  font-size: 9.75pt;
  font-weight: 600;
  letter-spacing: 2.0px;
  text-transform: none;
}
#m-0de8e369-c354-4e80-8729-29d3e1749512 #Text_cell_8 .clipping {
  padding-left: 0.0px;
  padding-top: 0.0px;
  padding-bottom: 0.0px;
  padding-right: 0.0px;
  overflow-x: hidden;
  overflow-y: hidden;
}
#m-0de8e369-c354-4e80-8729-29d3e1749512 #Text_cell_8 {
  width: 20.0%;
  height: 100.0%;
  cursor: pointer;
  font-size: 0pt;
  font-family: 'Montserrat_26.0.0_google',Arial;
}
#m-0de8e369-c354-4e80-8729-29d3e1749512 #Text_cell_8 > .cellContainerChild > .borderLayer {
  border-top-width: 0.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 0.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 0.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 0.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#m-0de8e369-c354-4e80-8729-29d3e1749512 #Text_cell_8 .content {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#m-0de8e369-c354-4e80-8729-29d3e1749512 #Text_cell_8 .valign {
  vertical-align: middle;
  text-align: center;
}
#m-0de8e369-c354-4e80-8729-29d3e1749512 #Text_cell_8 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Montserrat_26.0.0_google',Arial;
  font-size: 9.75pt;
  font-weight: 600;
  letter-spacing: 2.0px;
  text-transform: none;
}
#m-0de8e369-c354-4e80-8729-29d3e1749512 #Text_cell_8 span#rtr-Text_cell_8_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Montserrat_26.0.0_google',Arial;
  font-size: 9.75pt;
  font-weight: 600;
  letter-spacing: 2.0px;
  text-transform: none;
}
#m-0de8e369-c354-4e80-8729-29d3e1749512 #Text_cell_9 .clipping {
  padding-left: 0.0px;
  padding-top: 0.0px;
  padding-bottom: 0.0px;
  padding-right: 0.0px;
  overflow-x: hidden;
  overflow-y: hidden;
}
#m-0de8e369-c354-4e80-8729-29d3e1749512 #Text_cell_9 {
  width: 20.0%;
  height: 100.0%;
  cursor: pointer;
  font-size: 0pt;
  font-family: 'Montserrat_26.0.0_google',Arial;
}
#m-0de8e369-c354-4e80-8729-29d3e1749512 #Text_cell_9 > .cellContainerChild > .borderLayer {
  border-top-width: 0.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 0.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 0.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 0.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#m-0de8e369-c354-4e80-8729-29d3e1749512 #Text_cell_9 .content {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#m-0de8e369-c354-4e80-8729-29d3e1749512 #Text_cell_9 .valign {
  vertical-align: middle;
  text-align: center;
}
#m-0de8e369-c354-4e80-8729-29d3e1749512 #Text_cell_9 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Montserrat_26.0.0_google',Arial;
  font-size: 9.75pt;
  font-weight: 600;
  letter-spacing: 2.0px;
  text-transform: none;
}
#m-0de8e369-c354-4e80-8729-29d3e1749512 #Text_cell_9 span#rtr-Text_cell_9_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Montserrat_26.0.0_google',Arial;
  font-size: 9.75pt;
  font-weight: 600;
  letter-spacing: 2.0px;
  text-transform: none;
}
#m-0de8e369-c354-4e80-8729-29d3e1749512 #Text_cell_10 .clipping {
  padding-left: 0.0px;
  padding-top: 0.0px;
  padding-bottom: 0.0px;
  padding-right: 0.0px;
  overflow-x: hidden;
  overflow-y: hidden;
}
#m-0de8e369-c354-4e80-8729-29d3e1749512 #Text_cell_10 {
  width: 20.0%;
  height: 100.0%;
  cursor: pointer;
  font-size: 0pt;
  font-family: 'Montserrat_26.0.0_google',Arial;
}
#m-0de8e369-c354-4e80-8729-29d3e1749512 #Text_cell_10 > .cellContainerChild > .borderLayer {
  border-top-width: 0.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 0.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 0.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 0.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#m-0de8e369-c354-4e80-8729-29d3e1749512 #Text_cell_10 .content {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#m-0de8e369-c354-4e80-8729-29d3e1749512 #Text_cell_10 .valign {
  vertical-align: middle;
  text-align: center;
}
#m-0de8e369-c354-4e80-8729-29d3e1749512 #Text_cell_10 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Montserrat_26.0.0_google',Arial;
  font-size: 9.75pt;
  font-weight: 600;
  letter-spacing: 2.0px;
  text-transform: none;
}
#m-0de8e369-c354-4e80-8729-29d3e1749512 #Text_cell_10 span#rtr-Text_cell_10_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Montserrat_26.0.0_google',Arial;
  font-size: 9.75pt;
  font-weight: 600;
  letter-spacing: 2.0px;
  text-transform: none;
}
.m-0de8e369-c354-4e80-8729-29d3e1749512 #Text_cell_8 .content {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
.m-0de8e369-c354-4e80-8729-29d3e1749512 #Text_cell_6 {
  width: 20.0%;
  height: 100.0%;
  cursor: pointer;
  font-size: 0pt;
  font-family: 'Montserrat_26.0.0_google',Arial;
}
.m-0de8e369-c354-4e80-8729-29d3e1749512 #Text_cell_8 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Montserrat_26.0.0_google',Arial;
  font-size: 9.75pt;
  font-weight: 600;
  letter-spacing: 2.0px;
  text-transform: none;
}
.m-0de8e369-c354-4e80-8729-29d3e1749512 #Text_cell_10 .content {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
.m-0de8e369-c354-4e80-8729-29d3e1749512 #Table_1 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
.m-0de8e369-c354-4e80-8729-29d3e1749512 #Text_cell_8 span#rtr-Text_cell_8_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Montserrat_26.0.0_google',Arial;
  font-size: 9.75pt;
  font-weight: 600;
  letter-spacing: 2.0px;
  text-transform: none;
}
.m-0de8e369-c354-4e80-8729-29d3e1749512 #Text_cell_9 > .cellContainerChild > .borderLayer {
  border-top-width: 0.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 0.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 0.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 0.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
.m-0de8e369-c354-4e80-8729-29d3e1749512 #Panel_2 {
  width: 429.99999999999864px;
  height: 49.3333333333332px;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
.m-0de8e369-c354-4e80-8729-29d3e1749512 #Text_cell_6 span#rtr-Text_cell_6_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Montserrat_26.0.0_google',Arial;
  font-size: 9.75pt;
  font-weight: 600;
  letter-spacing: 2.0px;
  text-transform: none;
}
.m-0de8e369-c354-4e80-8729-29d3e1749512 #Text_cell_8 .valign {
  vertical-align: middle;
  text-align: center;
}
.m-0de8e369-c354-4e80-8729-29d3e1749512 #Text_cell_10 {
  width: 20.0%;
  height: 100.0%;
  cursor: pointer;
  font-size: 0pt;
  font-family: 'Montserrat_26.0.0_google',Arial;
}
.m-0de8e369-c354-4e80-8729-29d3e1749512 #Text_cell_7 {
  width: 20.0%;
  height: 100.0%;
  cursor: pointer;
  font-size: 0pt;
  font-family: 'Montserrat_26.0.0_google',Arial;
}
.m-0de8e369-c354-4e80-8729-29d3e1749512 #Text_cell_10 span#rtr-Text_cell_10_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Montserrat_26.0.0_google',Arial;
  font-size: 9.75pt;
  font-weight: 600;
  letter-spacing: 2.0px;
  text-transform: none;
}
.m-0de8e369-c354-4e80-8729-29d3e1749512 #Text_cell_6 .clipping {
  padding-left: 0.0px;
  padding-top: 0.0px;
  padding-bottom: 3.0px;
  padding-right: 0.0px;
  overflow-x: hidden;
  overflow-y: hidden;
}
.m-0de8e369-c354-4e80-8729-29d3e1749512 #Text_cell_9 .clipping {
  padding-left: 0.0px;
  padding-top: 0.0px;
  padding-bottom: 0.0px;
  padding-right: 0.0px;
  overflow-x: hidden;
  overflow-y: hidden;
}
.m-0de8e369-c354-4e80-8729-29d3e1749512 #Text_cell_7 span#rtr-Text_cell_7_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Montserrat_26.0.0_google',Arial;
  font-size: 9.75pt;
  font-weight: 600;
  letter-spacing: 2.0px;
  text-transform: none;
}
.m-0de8e369-c354-4e80-8729-29d3e1749512 #Text_cell_9 .content {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
.m-0de8e369-c354-4e80-8729-29d3e1749512 #Text_cell_8 {
  width: 20.0%;
  height: 100.0%;
  cursor: pointer;
  font-size: 0pt;
  font-family: 'Montserrat_26.0.0_google',Arial;
}
.m-0de8e369-c354-4e80-8729-29d3e1749512 #Text_cell_9 span#rtr-Text_cell_9_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Montserrat_26.0.0_google',Arial;
  font-size: 9.75pt;
  font-weight: 600;
  letter-spacing: 2.0px;
  text-transform: none;
}
.m-0de8e369-c354-4e80-8729-29d3e1749512 #Text_cell_6 .content {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
.m-0de8e369-c354-4e80-8729-29d3e1749512 #Text_cell_9 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Montserrat_26.0.0_google',Arial;
  font-size: 9.75pt;
  font-weight: 600;
  letter-spacing: 2.0px;
  text-transform: none;
}
.m-0de8e369-c354-4e80-8729-29d3e1749512 #Text_cell_7 .clipping {
  padding-left: 0.0px;
  padding-top: 0.0px;
  padding-bottom: 0.0px;
  padding-right: 0.0px;
  overflow-x: hidden;
  overflow-y: hidden;
}
.m-0de8e369-c354-4e80-8729-29d3e1749512 #Text_cell_7 .content {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
.m-0de8e369-c354-4e80-8729-29d3e1749512 #Text_cell_10 .valign {
  vertical-align: middle;
  text-align: center;
}
.m-0de8e369-c354-4e80-8729-29d3e1749512 #Panel_2 .verticalalign {
  vertical-align: top;
}
.m-0de8e369-c354-4e80-8729-29d3e1749512 #Text_cell_6 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Montserrat_26.0.0_google',Arial;
  font-size: 9.75pt;
  font-weight: 600;
  letter-spacing: 2.0px;
  text-transform: none;
}
.m-0de8e369-c354-4e80-8729-29d3e1749512 #Panel_2 > .borderLayer > .layoutWrapper {
  overflow-x: auto;
  overflow-y: hidden;
}
.m-0de8e369-c354-4e80-8729-29d3e1749512 #Text_cell_10 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Montserrat_26.0.0_google',Arial;
  font-size: 9.75pt;
  font-weight: 600;
  letter-spacing: 2.0px;
  text-transform: none;
}
.m-0de8e369-c354-4e80-8729-29d3e1749512.master {
  transform: translate(0px,0px);
}
.m-0de8e369-c354-4e80-8729-29d3e1749512 #Panel_2 td.layout {
  padding: 0px 0px 0px 0px;
}
.m-0de8e369-c354-4e80-8729-29d3e1749512 #Text_cell_7 > .cellContainerChild > .borderLayer {
  border-top-width: 0.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 0.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 0.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 0.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
.m-0de8e369-c354-4e80-8729-29d3e1749512 #Text_cell_7 .valign {
  vertical-align: middle;
  text-align: center;
}
.m-0de8e369-c354-4e80-8729-29d3e1749512 #Text_cell_6 .valign {
  vertical-align: middle;
  text-align: center;
}
.m-0de8e369-c354-4e80-8729-29d3e1749512 #Text_cell_8 .clipping {
  padding-left: 0.0px;
  padding-top: 0.0px;
  padding-bottom: 0.0px;
  padding-right: 0.0px;
  overflow-x: hidden;
  overflow-y: hidden;
}
.m-0de8e369-c354-4e80-8729-29d3e1749512 #Text_cell_9 {
  width: 20.0%;
  height: 100.0%;
  cursor: pointer;
  font-size: 0pt;
  font-family: 'Montserrat_26.0.0_google',Arial;
}
.m-0de8e369-c354-4e80-8729-29d3e1749512 #Text_cell_8 > .cellContainerChild > .borderLayer {
  border-top-width: 0.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 0.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 0.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 0.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
.m-0de8e369-c354-4e80-8729-29d3e1749512 #Text_cell_10 > .cellContainerChild > .borderLayer {
  border-top-width: 0.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 0.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 0.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 0.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
.m-0de8e369-c354-4e80-8729-29d3e1749512 #Dynamic_panel_2 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
.m-0de8e369-c354-4e80-8729-29d3e1749512 #Text_cell_9 .valign {
  vertical-align: middle;
  text-align: center;
}
.m-0de8e369-c354-4e80-8729-29d3e1749512 #Text_cell_6 > .cellContainerChild > .borderLayer {
  border-bottom-width: 3.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
}
.m-0de8e369-c354-4e80-8729-29d3e1749512 #Text_cell_7 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Montserrat_26.0.0_google',Arial;
  font-size: 9.75pt;
  font-weight: 600;
  letter-spacing: 2.0px;
  text-transform: none;
}
.m-0de8e369-c354-4e80-8729-29d3e1749512 #Table_1 {
  position: absolute;
  width: 723.1449985504142px;
  height: 48.333333333333314px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
.m-0de8e369-c354-4e80-8729-29d3e1749512 #Text_cell_10 .clipping {
  padding-left: 0.0px;
  padding-top: 0.0px;
  padding-bottom: 0.0px;
  padding-right: 0.0px;
  overflow-x: hidden;
  overflow-y: hidden;
}
#loadMark-m-0de8e369-c354-4e80-8729-29d3e1749512 {
  width: 1px;
  visibility: hidden;
  display: none;
}
#m-0de8e369-c354-4e80-8729-29d3e1749512.master > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}