#m-800d628e-4431-4c17-91d7-6cef24ddabb6.master {
  transform: translate(0px,0px);
}
#m-800d628e-4431-4c17-91d7-6cef24ddabb6 #Dynamic_panel_3 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#m-800d628e-4431-4c17-91d7-6cef24ddabb6 #Panel_3 {
  width: 428.99999999999955px;
  height: 91.0px;
  filter:  drop-shadow(1.8369701987210297E-16px -1.0px 3px rgba(163,163,163,0.5));
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#m-800d628e-4431-4c17-91d7-6cef24ddabb6 #Panel_3 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#m-800d628e-4431-4c17-91d7-6cef24ddabb6 #Panel_3 td.layout {
  padding: 0px 0px 0px 0px;
}
#m-800d628e-4431-4c17-91d7-6cef24ddabb6 #Panel_3 > .borderLayer > .layoutWrapper {
  overflow-x: hidden;
  overflow-y: hidden;
}
#m-800d628e-4431-4c17-91d7-6cef24ddabb6 #Panel_3 .verticalalign {
  vertical-align: top;
}
#m-800d628e-4431-4c17-91d7-6cef24ddabb6 #Path_115 {
  position: absolute;
  width: 18.750303268432617px;
  height: 25.0px;
}
#m-800d628e-4431-4c17-91d7-6cef24ddabb6 #Path_481 {
  position: absolute;
  width: 22.748790740966797px;
  height: 26.0px;
}
#m-800d628e-4431-4c17-91d7-6cef24ddabb6 #Path_63 {
  position: absolute;
  width: 25.028636932373047px;
  height: 26.5px;
}
#m-800d628e-4431-4c17-91d7-6cef24ddabb6 #Path_212 {
  position: absolute;
  width: 27.185056686401367px;
  height: 25.0px;
}
#m-800d628e-4431-4c17-91d7-6cef24ddabb6 #Hotspot_1 {
  position: absolute;
  width: 44.0px;
  height: 46.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
}
#m-800d628e-4431-4c17-91d7-6cef24ddabb6 #Hotspot_2 {
  position: absolute;
  width: 44.0px;
  height: 46.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
}
#m-800d628e-4431-4c17-91d7-6cef24ddabb6 #Hotspot_3 {
  position: absolute;
  width: 44.0px;
  height: 46.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
}
#m-800d628e-4431-4c17-91d7-6cef24ddabb6 #Hotspot_4 {
  position: absolute;
  width: 44.0px;
  height: 46.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
}
.m-800d628e-4431-4c17-91d7-6cef24ddabb6 #Path_115 {
  position: absolute;
  width: 18.750303268432617px;
  height: 25.0px;
}
.m-800d628e-4431-4c17-91d7-6cef24ddabb6 #Hotspot_4 {
  position: absolute;
  width: 44.0px;
  height: 46.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
}
.m-800d628e-4431-4c17-91d7-6cef24ddabb6 #Panel_3 td.layout {
  padding: 0px 0px 0px 0px;
}
.m-800d628e-4431-4c17-91d7-6cef24ddabb6 #Dynamic_panel_3 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
.m-800d628e-4431-4c17-91d7-6cef24ddabb6 #Panel_3 > .borderLayer > .layoutWrapper {
  overflow-x: hidden;
  overflow-y: hidden;
}
.m-800d628e-4431-4c17-91d7-6cef24ddabb6 #Panel_3 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
.m-800d628e-4431-4c17-91d7-6cef24ddabb6 #Panel_3 {
  width: 428.99999999999955px;
  height: 91.0px;
  filter:  drop-shadow(1.8369701987210297E-16px -1.0px 3px rgba(163,163,163,0.5));
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
.m-800d628e-4431-4c17-91d7-6cef24ddabb6 #Path_63 {
  position: absolute;
  width: 25.028636932373047px;
  height: 26.5px;
}
.m-800d628e-4431-4c17-91d7-6cef24ddabb6 #Hotspot_2 {
  position: absolute;
  width: 44.0px;
  height: 46.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
}
.m-800d628e-4431-4c17-91d7-6cef24ddabb6 #Path_481 {
  position: absolute;
  width: 22.748790740966797px;
  height: 26.0px;
}
.m-800d628e-4431-4c17-91d7-6cef24ddabb6 #Path_212 {
  position: absolute;
  width: 27.185056686401367px;
  height: 25.0px;
}
.m-800d628e-4431-4c17-91d7-6cef24ddabb6 #Hotspot_3 {
  position: absolute;
  width: 44.0px;
  height: 46.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
}
.m-800d628e-4431-4c17-91d7-6cef24ddabb6 #Panel_3 .verticalalign {
  vertical-align: top;
}
.m-800d628e-4431-4c17-91d7-6cef24ddabb6 #Hotspot_1 {
  position: absolute;
  width: 44.0px;
  height: 46.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
}
.m-800d628e-4431-4c17-91d7-6cef24ddabb6.master {
  transform: translate(0px,0px);
}
#loadMark-m-800d628e-4431-4c17-91d7-6cef24ddabb6 {
  width: 1px;
  visibility: hidden;
  display: none;
}
#m-800d628e-4431-4c17-91d7-6cef24ddabb6.master > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}